<section class="container my-4">

  <h1 class="col-xs-12 col-md-12">
    <strong class="heading bold mt-4" id="header-title">Your profile</strong>
    <p class="text-muted mt-2 lead">Manage account</p>
  </h1>

  <div class="form profile mb-2">
    <div class="text-fields">
      <div class="field">
        <div class="DeluxeTextInput">
          <div class="md-form mb-4 ">
            <label for="given_name">Your given name</label>
            <input class="form-control" id="given_name" type="text" value="">
          </div>
        </div>
      </div>
      <div class="md-form mb-4">
        <label for="family_name">Your family name</label>
        <input class="form-control" id="family_name" type="text" value="">
      </div>
      <div class="DeluxeTextInput">
        <div class="md-form mb-4 ">
          <label for="email">
            Email address
            <div class="sub">All communications will be sent to this address.</div>
          </label>
          <input class="form-control" id="email" type="text" value=""></div>
      </div>
    </div>
    <div class="field picture-upload">
      <label for="profile-picture">Your profile picture</label>
      <div class="picture placeholder"></div>
      <div class="image-upload-button">
        <input type="file">
        <button class="secondary small" type="button">Choose File</button>
      </div>
    </div>
    <button color="default" outline="true" type="button">Save changes</button>
  </div>
</section>
