<header class="header my-4 row">
  <h1 class="col-xs-12 col-md-12">
    <strong class="heading bold mt-4" id="header-title">Today</strong>
    <p class="text-muted mt-2">The insights you need to keep ahead</p>
  </h1>
  <button type="button" class="refresh" mdbBtn color="link" (click)="refresh()">
    <i class="fas fa-redo fa-3x"></i>
  </button>
</header>

<section>
  <div class="no-data" *ngIf="topStories.length === 0">
    <p>There is no Top Stories yet!</p>
  </div>

  <div class="scrolling-wrapper" >
    <div class="scrolling-wrapper-list" [ngStyle]="{'--grid-rows':'1', '--grid-column-gap':'20px' }">
      <div class="mb-5" *ngFor="let news of topStories; let i = index "  >
        <h3 class="top-stories">{{news.title}}</h3>
        <ngx-slick-carousel [config]="slideConfig" class="carousel mb-5">
          <div (click)="openModal(story, i, j)" class="scrolling-wrapper-item" ngxSlickItem *ngFor="let story of news.items; let j = index" style="background: #111; padding: 2em; color: white; float: left; height: 220px; border-left: 2px solid #333; width: 20% !important;">
            <!-- <div [ngStyle]="{'background-image': 'url(story.visualUrl)', 'background-size': 'cover'}"></div> -->
            <h4>{{story.title}}</h4>
            <small>{{formatDate(story.pubDate) | date: "dd MMM, yyyy"}}</small>
          </div>
        </ngx-slick-carousel>
      </div>

    </div>

  </div>
</section>


<!--Modal-->
<div mdbModal  #storyModal="mdbModal"  class="modal fade right"  id="storyModalTop"
  tabindex="-1"  role="dialog"  aria-labelledby="myModalLabel"  aria-hidden="true"  style="overflow-y: auto;"
>
  <!--Dialog-->
  <div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
    <!--Content-->
    <div class="modal-content floatingEntryContentSlide sliderWidth">
      <!--Header-->
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="storyModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <div class="mr-auto w-25">
          <span class="social-btn" disabled (click)="saveStory(story)">
            <i class="far fa-bookmark"></i>
          </span>
          <span class="social-btn">
            <i class="fas fa-link"></i>
          </span>
        </div>
        <div class="m-auto w-25"></div>
        <div class="ml-auto w-50 d-none d-md-block">
          <span class="social-btn">
            <i class="far fa-envelope"></i>
          </span>
          <span class="social-btn">
            <i class="fab fa-linkedin"></i>
          </span>
          <span class="social-btn">
            <i class="fab fa-twitter"></i>
          </span>
          <span class="social-btn">
            <i class="fab fa-wordpress"></i>
          </span>
        </div>
      </div>

      <!--Body-->
      <div class="modal-body">
        <h4 class="modal-title w-100" id="myModalLabel">{{story.title}}</h4>
        <p class="mb-4">
          <small>{{ formatDate(story.pubDate) | date: "dd MMM, yyyy"}}</small>
          <span *ngIf="story.author">by {{story.author}}</span>
        </p>

        <div class="mb-4" [innerHTML]="story.content"></div>

        <div class="text-center mt-4">
          <a type="button" mdbBtn color="default" outline="true" block="true" [href]="story.link" target="_blank">Visit Website</a>
        </div>

      </div>

    </div>
    <!--/.Content-->
  </div>
  <!--/.Dialog-->
</div>
<!--/.Modal-->
