<!-- <app-main-nav></app-main-nav> -->

<div style="padding: 4em;">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="top-stories-tab" data-toggle="tab" href="#top-stories" role="tab" aria-controls="top-stories" aria-selected="true">Top Stories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="news24-tab" data-toggle="tab" href="#news24" role="tab" aria-controls="news24" aria-selected="false">News 24</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="top-stories" role="tabpanel" aria-labelledby="top-stories-tab">

      <div class="no-data" *ngIf="topStories.length == 0">
        <p>There is no Top Stories yet!</p>
      </div>

      <div *ngFor="let news of topStories">
        <div class="scrolling-wrapper" >
          <div *ngIf="topStories.length !== 0">
            <h3 class="top-stories">{{news.title}}</h3>
            <div class="card" *ngFor="let story of news.items" style="background: #111; padding: 2em; color: white; float: left; height: 220px; border-left: 2px solid #333; width: 400px !important;">
              <h4 (click)="openModal(story)">{{story.title}}</h4>
              <small>{{story.pubDate | date: "dd MMM, yyyy"}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="news24" role="tabpanel" aria-labelledby="news24-tab">
      <div class="no-data" *ngIf="news24.length == 0">
        <p>There is no News24 stories yet!</p>
      </div>

      <div *ngFor="let news of news24">
        <div class="scrolling-wrapper" >
          <div *ngIf="news24.length !== 0">
            <h3 class="top-stories">{{news.title}}</h3>
            <div class="card" *ngFor="let story of news.items" style="background: #111; padding: 2em; color: white; float: left; height: 220px; border-left: 2px solid #333; width: 400px !important;">
              <h4 (click)="openModal(story)">{{story.title}}</h4>
              <small>{{story.pubDate | date: "dd MMM, yyyy"}}</small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!--Modal-->
<div mdbModal  #frame="mdbModal"  class="modal fade right"  id="frameModalTop"
  tabindex="-1"  role="dialog"  aria-labelledby="myModalLabel"  aria-hidden="true"  style="overflow-y: auto"
>
  <!--Dialog-->
  <div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">{{story.title}}</h4>
      </div>

      <!--Body-->
      <div class="modal-body">
        <p><small>{{story.pubDate | date: "dd MMM, yyyy"}}</small></p>
               
        {{story.content}}
      </div>

    </div>
    <!--/.Content-->
  </div>
  <!--/.Dialog-->
</div>
<!--/.Modal-->