<!-- <app-main-nav></app-main-nav> -->

<div style="padding: 4em;">
  <h2>News24</h2>

  <div class="no-data" *ngIf="news24TopStories.length == 0">
    <p>There is no News24 stories yet!</p>
  </div>

  <div class="scrolling-wrapper" >
    <div *ngIf="news24TopStories.length !== 0">
      <h3 class="top-stories">Top Stories</h3>
      <div class="card" *ngFor="let story of news24TopStories" style="background: #111; padding: 2em; color: white; float: left; height: 220px; border-left: 2px solid #333; width: 400px !important;">
        <h4>{{story.title}}</h4>
        <small>{{story.pubDate | date: "dd MMM, yyyy"}}</small>
      </div>
    </div>
  </div>

  <div class="scrolling-wrapper" >
    <div *ngIf="news24World.length !== 0">
      <h3 class="world">World</h3>
      <div class="card" *ngFor="let story of news24World" style="background: #111; padding: 2em; color: white; float: left; height: 220px; border-left: 2px solid #333; width: 400px !important;">
        <h4>{{story.title}}</h4>
        <small>{{story.pubDate | date: "dd MMM, yyyy"}}</small>
      </div>
    </div>
  </div>

  <div class="scrolling-wrapper" >
    <div *ngIf="news24Africa.length !== 0">
      <h3 class="africa">Africa</h3>
      <div class="card" *ngFor="let story of news24Africa" style="background: #111; padding: 2em; color: white; float: left; height: 220px; border-left: 2px solid #333; width: 400px !important;">
        <h4>{{story.title}}</h4>
        <small>{{story.pubDate | date: "dd MMM, yyyy"}}</small>
      </div>
    </div>
  </div>

  <div class="scrolling-wrapper" >
    <div *ngIf="news24SouthAfrica.length !== 0">
      <h3 class="south-africa">South Africa</h3>
      <div class="card" *ngFor="let story of news24SouthAfrica" style="background: #111; padding: 2em; color: white; float: left; height: 220px; border-left: 2px solid #333; width: 400px !important;">
        <h4>{{story.title}}</h4>
        <small>{{story.pubDate | date: "dd MMM, yyyy"}}</small>
      </div>
    </div>
  </div>

  <div class="scrolling-wrapper" >
    <div *ngIf="news24Tech.length !== 0">
      <h3 class="tech">Technology</h3>
      <div class="card" *ngFor="let story of news24Tech" style="background: #111; padding: 2em; color: white; float: left; height: 220px; border-left: 2px solid #333; width: 400px !important;">
        <h4>{{story.title}}</h4>
        <small>{{story.pubDate | date: "dd MMM, yyyy"}}</small>
      </div>
    </div>
  </div>

  <div class="scrolling-wrapper" >
    <div *ngIf="news24Sport.length !== 0">
      <h3 class="sport">Sport</h3>
      <div class="card" *ngFor="let story of news24Sport" style="background: #111; padding: 2em; color: white; float: left; height: 220px; border-left: 2px solid #333; width: 400px !important;">
        <h4>{{story.title}}</h4>
        <small>{{story.pubDate | date: "dd MMM, yyyy"}}</small>
      </div>
    </div>
  </div>

  <div class="scrolling-wrapper" >
    <div *ngIf="news24Business.length !== 0">
      <h3 class="business">Business</h3>
      <div class="card" *ngFor="let story of news24Business" style="background: #111; padding: 2em; color: white; float: left; height: 220px; border-left: 2px solid #333; width: 400px !important;">
        <h4>{{story.title}}</h4>
        <small>{{story.pubDate | date: "dd MMM, yyyy"}}</small>
      </div>
    </div>
  </div>

  <div class="scrolling-wrapper" >
    <div *ngIf="news24Entertainment.length !== 0">
      <h3 class="entertainment">Entertainment</h3>
      <div class="card" *ngFor="let story of news24Entertainment" style="background: #111; padding: 2em; color: white; float: left; height: 220px; border-left: 2px solid #333; width: 400px !important;">
        <h4>{{story.title}}</h4>
        <small>{{story.pubDate | date: "dd MMM, yyyy"}}</small>
      </div>
    </div>
  </div>
</div>
