<app-main-nav></app-main-nav>

<div style="padding: 2em 1em;">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/today" routerLinkActive="active">Today</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/saved" routerLinkActive="active">Read Later</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/feed" routerLinkActive="active">Feed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/top-stories" routerLinkActive="active">Top Stories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tech" routerLinkActive="active">Tech</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>


