<div>
  <header class="header row m-b-2">
    <h1 class="col-xs-6 col-md-6"><span class="heading" id="header-title">Organize Sources</span>
      <div class="sub">
        <div class="SourcesSummary">Following
          <a class="ButtonLink ButtonLink__default SourcesSummary__stats-value" title="Show all sources" role="button">9 sources</a>
        </div>
      </div>
    </h1>
  </header>
</div>
<div class="form row">
  <div class="col-xs-4 field">
    <label for="filterByCollection">Feed</label>
    <div class="fx-select">
      <div class="GuidedTutorial__gpc-target-9 button-dropdown full-width">
        <button class="full-width container-flex secondary button-icon-far-right" id="filterByCollection" title="" type="button">
          <span class="button__label">Tech</span>
          <i class="icon icon-sm icon-tertiary icon-fx-cross-ios-sm-black icon-clickable"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-xs-4 field">
    <label for="filterByActivity">Activity</label>
    <div class="fx-select">
      <div class="GuidedTutorial__gpc-target-9 button-dropdown full-width">
        <button class="full-width container-flex secondary button-icon-far-right" id="filterByActivity" title="" type="button">
          <span class="button__label">Any</span>
          <i class="icon icon-sm icon-tertiary icon-fx-arrowhead-down-ios-sm-black"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-xs-4 field">
    <label for="filterByFeedName">Source name</label>
    <div class="DeluxeTextInput">
      <div class="DeluxeTextInputOverlay">
        <input autocapitalize="sentences" autocorrect="on" class="TextInput DeluxeTextInput__TextInput" id="filterByFeedName" placeholder="Filter sources..." type="text" value="">
      </div>
    </div>
  </div>
</div>

<div class="OrganizeTable">
  <table mdbTable class="m-t-0 flexLayout text-white">
    <thead>
      <tr>
        <th style="flex: 0 1 45px;">
          <div class="Checkbox OrganizeTable__checkbox">
            <i class="icon icon-sm icon-tertiary icon-fx-check-ios-sm-black"></i>
            <input type="checkbox" class="Checkbox__input" id="ui-Checkbox-23">
            <label for="ui-Checkbox-23" class="Checkbox__label"></label>
          </div>
        </th>
        <th style="flex: 1 1 calc(100% - 355px); max-width: calc(100% - 355px);">
          <span role="button" class="SortedDataGrid__label">Source name </span>
        </th>
        <th style="flex: 0 1 155px;">
          <span role="button" class="SortedDataGrid__label">Stories / month</span>
        </th>
        <th style="flex: 0 1 155px;">
          <span role="button" class="SortedDataGrid__label">Reads / month</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol  class="OrganizeTable__row" *ngFor="let feed of userFeed.feeds">
        <td class="va-middle" style="flex: 0 1 45px;">
          <div class="Checkbox">
            <i class="icon icon-sm icon-tertiary icon-fx-check-ios-sm-black"></i>
            <input type="checkbox" class="Checkbox__input" id="ui-Checkbox-24">
            <label for="ui-Checkbox-24" class="Checkbox__label"></label>
          </div>
        </td>
        <td class="OrganizeTable__feed-cell" style="flex: 1 1 calc(100% - 355px); max-width: calc(100% - 355px);">
          <div class="OrganizeTable__feed item feed feed-medium">
            <div class="visual item-image" [title]="feed.title" [ngStyle]="{'background-image': 'url(feed.visualUrl)'}"></div>
            <div class="item-content">
              <div class="item-header">
                <span>{{ feed.title }}</span>
              </div>
              <div class="item-extra chip-list condensed">
                <span class="chip muted small" role="button">
                  <i class="icon icon-xs icon-tertiary icon-fx-rss-ios-sm-black text-"></i>
                  {{ feed.topics[0] }}
                </span>
              </div>
            </div>
          </div>
        </td>
        <td class="OrganizeMetricCell">
          <div>
            <div class="BarMetric">
              <div class="BarMetric--chart" style="width: 87.645%;">
                <span class="BarMetric--value">{{feed.velocity}}</span>
              </div>
            </div>
          </div>
          <div class="OrganizeMetricCell__additional-metric">about 2 hours ago</div>
        </td>
        <td class="OrganizeMetricCell">
          <div class="BarMetric">
            <div class="BarMetric--chart" style="width: 100%;">
              <span class="BarMetric--value">1</span>
            </div>
          </div>
        <span class="OrganizeMetricCell__additional-metric">{{feed.updated}}</span>
          <div class="OrganizeMetricCell__actions">
            <button class="OrganizeMetricCell__unfollow secondary small button-icon-only" title="Unfollow Source" type="button">
              <i class="icon icon-sm icon-tertiary icon-fx-trash-ios-sm-black"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
