<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color sticky-top" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" routerLink="/">NewsFeed</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link">
            <div class="btn-group" mdbDropdown>
              <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
              <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                <a class="dropdown-item" routerLink="/account" routerLinkActive="active">
                  <p class="mb-0 bold"> <strong>Tebogo Moloi</strong> </p>
                  <small class="text-muted">tebogomoloi@outlook.com</small>
                </a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item" routerLink="settings" routerLinkActive="active">Settings</a>
                <a class="dropdown-item" routerLink="/privacy" routerLinkActive="active">Privacy</a>
                <a class="dropdown-item" routerLink="/terms" routerLinkActive="active">Terms & Policy</a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/logout" routerLinkActive="active">Logout</a>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
  <!--/.Navbar-->
