/* You can add global styles to this file, and also import other style files */
html, body {
    background-color: #333;
    color: white;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif
}

h1, h2, h3 {
  font-weight: 600;
}

h4, h5, h6 {
  font-weight: 400;
}

.unique-color {
  background-color: #121212 !important;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.navbar {
  box-shadow: none !important;
}

.refresh {
  position: absolute;
  right: 0;
  font-size: 4rem;
}

.modal-title {
  font-size: 2rem;
  font-weight: 700;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 2.3rem;
  text-transform: none;
  clear: both;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  letter-spacing: -0.04em;
  display: block;
  margin-bottom: 0.5rem;
}

#splashscreen {
  position:absolute;
  top:50%;
  left:0;
  transform:translateX(0) translateY(-50%);
  font-size:44px;
  color:#d6d6d6;
  font-weight:700;
  font-family:helvetica,sans-serif;
  letter-spacing:-.04em;
  text-align:center;
  width:100%
 }

.social-btn {
  margin-right: 4em;
}

.sliderWidth {
  width: 80% !important;
}

.floatingEntryContentSlide {
  margin: 0 auto;
}

.message {
  position: relative;
}

.loading {
  color: #9e9e9e;
  font-size: 0.875rem;
  height: 20px;
  line-height: 20px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  padding-left: 29px;

  &::before {
    animation: spin 1s linear infinite;
    border-color: #2bb24c #2bb24c transparent;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 0 1px
    transparent;
    content: '';
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    width: 16px;
  }
}


// .scrolling-wrapper {
//   margin-right: -2px;
//   margin-left: -2px;
//   padding-right: 2px;
//   padding-left: 2px;
//   overflow: hidden;
//   -webkit-box-sizing: content-box;
//   box-sizing: content-box;

//   .scrolling-wrapper-list {
//     padding: 0;
//     display: grid;
//     grid-auto-flow: column;
//     overflow-x: auto;
//     overflow-y: hidden;
//     -webkit-overflow-scrolling: touch;
//     scroll-behavior: smooth;
//     scrollbar-width: none;
//     overscroll-behavior-x: none;
//     -webkit-scroll-snap-type: x mandatory;
//     -ms-scroll-snap-type: x mandatory;
//     scroll-snap-type: x mandatory;
//     grid-auto-columns: 140vw;
//     grid-template-rows: repeat(8, 320px);
//     grid-template-rows: repeat(8, 320px);
//     grid-column-gap: 1px;

//     .scrolling-wrapper-item {
//       scroll-snap-align: start;
//       -webkit-box-align: start;
//       -webkit-align-items: flex-start;
//       -ms-flex-align: start;
//       align-items: flex-start;
//       height: auto
//     }
//   }
// }

#storyModalTop {
  color: #333;

  .modal-dialog {
    background-color: #fff;
    width: 90vw !important;

    .modal-content {
      box-shadow: none !important;
    }
  }
}
