/* You can add global styles to this file, and also import other style files */
html, body {
    background-color: #333;
    color: white;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif
}

h1, h2, h3 {
  font-weight: 600;
}

h4, h5, h6 {
  font-weight: 400;
}

.modal-title {
  font-size: 2rem;
  font-weight: 700;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 2.3rem;
  text-transform: none;
  clear: both;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  letter-spacing: -0.04em;
  display: block;
  margin-bottom: 0.5rem;
}

.sliderWidth {
  width: 647px !important;

}
.floatingEntryContentSlide {
  margin: 0 auto;
}

.scrolling-wrapper {
  margin-right: -2px;
  margin-left: -2px;
  padding-right: 2px;
  padding-left: 2px;
  width: 100%;
  overflow: hidden;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;

  .scrolling-wrapper-list {
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overscroll-behavior-x: none;
    -webkit-scroll-snap-type: x mandatory;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    grid-auto-columns: 140vw;
    grid-template-rows: repeat(8, 320px);
    grid-template-rows: repeat(8, 320px);
    grid-column-gap: 1px;

    .scrolling-wrapper-item {
      scroll-snap-align: start;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      height: auto
    }
  }
}

#storyModalTop {
  color: #333;

  .modal-dialog {
    background-color: #fff;
    width: 90vw !important;

    .modal-content {
      box-shadow: none !important;
    }
  }
}
